<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'vets')}">

<body>


<h2>Vet Information</h2>


<table class="table table-striped" th:object="${vet}">
  <tr>
    <th>Name</th>
    <td><b th:text="*{firstName + ' ' + lastName}"></b></td>
  </tr>
  <tr>
    <th>Specialities</th>
    <td><span th:each="specialty : ${vet.specialties}"
              th:text="${specialty.name + ' '}"/> <span
      th:if="${vet.nrOfSpecialties == 0}">none</span></td>
  </tr>
</table>

<a th:href="@{__${vet.id}__/edit}" class="btn btn-primary">Edit
  Vet</a>
<a th:href="@{__${vet.id}__/vets/new}" class="btn btn-primary">Add
  New Speciality</a>

<br />
<br />
<br />
<h2>Vets and Specialities</h2>

<table class="table table-striped">



</table>

</body>

</html>
